{%  extends 'master.html' %}

{%  block content %}
    <h1>Ukupno vesti: {{vesti.count}}</h1>
    <br/>
    <h2>Broj pregleda: {{x}}</h2>
    <br/>
    <form action="{% url 'my_app:vesti' %}">
        <div class="input-group mb-3">
            <input name = "q" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary">Search</button>
            </div>
        </div>
    </form>
    <br/>
    <div class="btn-group" role="group" aria-label="FilterButtons">
    <form action="{% url 'my_app:vesti' %}" method="get">
        <button class="btn btn-outline-secondary" name="sort" value="ASC" type="submit">OrderViewsASC</button>
        <button class="btn btn-outline-secondary" name="sort" value="DSC" type="submit">OrderViewsDSC</button>
    </form>
    <form action="{% url 'my_app:vesti' %}" method="get">
        <button class="btn btn-outline-secondary" name="date" value="ASC" type="submit">OrderDateASC</button>
        <button class="btn btn-outline-secondary" name="date" value="DSC" type="submit">OrderDateDSC</button>
    </form>
    </div>
    <br/>
    <div class="btn-group" role="group" aria-label="CategoryButtons">
        {% for kategorija in kategorije %}
        <form action="{% url 'my_app:vesti' %}" method="get">
            <button class="btn btn-outline-secondary" name="kategorija" value="{{kategorija}}" type="submit">
                {{kategorija}}</button>
        </form>
        {% endfor %}
    </div>

    <div class="list-group">
        {% for vest in vesti %}
        <div class="border">
            <h1>{{ vest.title }}</h1>
            <p>{{vest.content}}</p>
            <h2>Views: {{vest.count}}</h2>
            <h3>Category: {{vest.category}}</h3>
            <h4>Date Created: {{vest.date}}</h4>
        </div>
        {% endfor %}
    </div>
    <br/>

{% endblock %}